
.intro{

    font-family: 'Raleway', sans-serif;
    font-size:80px;
    margin-top:100px;
    text-align: center;
    color:rgba(0, 0, 0, 0.788);
    font-weight:bolder;

}


.intro-p{

    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 16px;
    padding-left:100px;
    padding-right: 100px;
    margin-top:20px;
    line-height:30px;
    color:grey;
    margin-bottom: 100px;
  
}

.quick{
    font-family: 'Raleway', sans-serif !important;
    margin-top:30px;
    padding-right:30px;
    color:rgba(0, 0, 0, 0.788);
    font-size:20px;
    font-weight: bolder;

}


.quick:hover{
    font-family: 'Raleway', sans-serif !important;
    margin-top:30px;
    padding-right:30px;
    color:yellowgreen;
    font-size:20px;
    font-weight: bolder;
    text-decoration: none;

}


.logo{

width:130px;
margin-top:10px;
padding-left:10px;


}

.icon{

margin-top:-6px;
padding-left:3px;

}


.bac{

background-image: url("images/yellow.png");
min-height:80vh;
background-size: cover;
background-position-x: center;
background-position-y: center;
background-attachment: fixed;

}

.icon-doc{

display: block;
margin-left: auto;
margin-right: auto;
width:70px;
margin-top: 200px;

}


.documentary{

    font-family: 'Raleway', sans-serif;
    text-align: center;
    

}


.aaa:hover{

outline: none;
color: white;
text-decoration: none;

}

.aaa{

    color: black;

}


.copy{

    font-family: 'Raleway', sans-serif;
    margin-top: 70px;
    font-size:14px;

}



.copy-2{

    font-family: 'Raleway', sans-serif;
    font-size:11.5px;
    line-height:23px;

}


.line{


    border-top: 1px solid #E6E6E6;
    width: 100% !important;
border-bottom: transparent;
border-left: transparent;
border-right: transparent;
margin-top:30px;


}



.layer {
    background-image: linear-gradient(to right,rgba(92, 198, 227, 0.541),rgba(117, 240, 180, 0.637));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   min-height:37.5vh;
    margin-top:100px;
    margin-bottom: 50px;
}


.mrg-video{

margin-top:100px;
margin-bottom:50px;

}


.solution{

    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight:500;
    margin-top: 150px;

}

.solution-text{

    font-family: 'Raleway', sans-serif;
    font-size:14px;
    font-weight: bolder;
    margin-top: 30px;
    line-height:25px;
    padding-right:50px;


}



.copy-22{

    font-family: 'Raleway', sans-serif;
    font-size:11.5px;
    line-height:23px;
    color:black;

}


.partnership-intro{

text-align: center;
font-family: 'Raleway', sans-serif;
color: black;
font-size:35px;
font-weight:500;
margin-top:120px;

}


.partnership-outro{

 
text-align: center;
font-family: 'Raleway', sans-serif;
font-weight:100;
font-size:13px;
margin-top:30px;
line-height:23px;

}


.number{

display: block;
margin-left: auto;
margin-right: auto;
width:30%;
min-height:50px;
border: 1px solid #E6E6E6;
outline: none;
margin-top:50px;
font-family: 'Raleway', sans-serif;
font-size:14px;
padding: 5px 5px 5px 15px;


}



.number:hover{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    min-height:50px;
    border: 1px solid yellowgreen;
    margin-top:50px;
    
    }
    

.req{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    min-height:50px;
    padding:10px 10px 10px 10px; 
    margin-top:25px;
    border:1.5px solid yellowgreen;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    outline: none !important;
}
    


::-webkit-input-placeholder { /* Chrome/Opera/Safari */

    font-family: 'Raleway', sans-serif;
  font-size:14px;
  padding: 5px 5px 5px 15px;
 
  }


  .terms{

    font-family: 'Raleway', sans-serif;
    font-size: 10.5px;
    margin-top: 30px;
    text-align: center;
    line-height:20px;
    margin-bottom:130px;

  }


  .terms-2{

    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    margin-top: 50px;
    text-align: left;
    line-height:20px;
    margin-bottom:130px;
    color:black;

  }


  .bac-agent{

    background-image: linear-gradient(to right,rgb(92, 198, 227),rgb(117, 240, 180));
    width: 100%;
    min-height: 20vh;
    
}


.earn{
    font-family: 'Raleway', sans-serif;
    font-size:55px;
    text-align:left;
    margin-top:150px;

}


.collective{

text-align:left;
font-size:25px;
font-family: 'Raleway', sans-serif;
color:black;
font-weight:100;
margin-top:25px;

}


.btn-get-started{

width: 48%;
padding:15px 15px 15px 15px;
background-color:yellow;
border:transparent;
font-family: 'Raleway', sans-serif;
outline: none !important;
font-weight:500;
margin-top: 50px;


}


.agent-policy{

color: white;


}


.bac-white-smoke{

background-color:#F9F9FF;
min-height: 100vh;
width: 100%;
}


.ecology{

    font-family: 'Raleway', sans-serif;
    font-size:50px;
    margin-top:130px;

}


.ecology-intro{
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    margin-top:50px;
}

.svg{

width:35px;
float: left;
}

.card-fancy{

background-color:white;
box-shadow: 1.5px 1.5px rgba(74, 72, 187, 0.096);
border-radius:8px;
padding: 25px 25px 25px 25px;
margin-top:55px;
min-height:10vh;

}

.eco-text{

margin-top:25px;
font-family: 'Raleway', sans-serif;
font-size:14px;
color: #212529;
line-height:23px;

}

.package-1{

float: left;
width: 350px;
margin-top: 100px;
margin-bottom: 50px;

}

.rexos-footer{

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color:black;
    letter-spacing: 2px;
   margin-top: 100px;

}

.copy-footer{


 
        font-family: 'Raleway', sans-serif;
        margin-top: 12px;
        font-size:12.5px;
        color: black;
    
}


.link-footer{

list-style: none;
font-family: 'Raleway', sans-serif;
margin-top: 20px;

}


.inner-mrg{

margin-top:100px;
margin-bottom:100px;


}


.all{

    font-family: 'Raleway', sans-serif;
    font-size: 11.5px;
    margin-top:50px;
    line-height: 21px;



}


.icons-hdp{

width:25.5px;
padding-right:5px;
}


.menu-top {

list-style: none;
text-align:center;
font-family: 'Raleway', sans-serif;
line-height: 24px;
margin-top: 25px;


}

.sorting{

width:10.5px;


}


/*@media query for mobile view */


@media only screen and (min-width: 320px) and (max-width: 480px) {

 

    .logo{

        width:90px;
        margin-top:14px;
        padding-left:30px;
        
          }



          .quick{
            font-family: 'Raleway', sans-serif !important;
            margin-top:23px;
            padding-right:30px;
            color:rgba(0, 0, 0, 0.788);
            font-size:10px;
            font-weight: bolder;
        
        }



.quick:hover{
    font-family: 'Raleway', sans-serif !important;
    margin-top:23px;
    padding-right:30px;
    color:yellowgreen;
    font-size:10px;
    font-weight: bolder;
    text-decoration: none;

}



.menu-top {

    list-style: none;
    text-align:right;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    margin-top: 25px;
    font-size: 12px;
    
    }



    .intro{

        font-family: 'Raleway', sans-serif;
        font-size:40px;
        margin-top:100px;
        padding-left:30px;
        padding-right: 30px;
        text-align:left;
        color:rgba(0, 0, 0, 0.788);
        font-weight:bolder;
    
    }
    
    
    .intro-p{
    
        font-family: 'Raleway', sans-serif;
        text-align:left;
        font-size: 16px;
        padding-left:30px;
        padding-right: 30px;
        margin-top:20px;
        line-height:30px;
        color:grey;
        margin-bottom: 100px;
      
    }


    .solution{

        font-family: 'Raleway', sans-serif;
        color: black;
        font-weight:500;
        margin-top: 80px;
    
    }
    
    .solution-text{
    
        font-family: 'Raleway', sans-serif;
        font-size:11.5px;
        font-weight: bolder;
        margin-top: 30px;
        line-height:25px;
        padding-right:50px;
    
    
    }


.mrg-video{

    margin-top:70px;
    margin-bottom:50px;
    
    }
        


.layer {
    background-image: linear-gradient(to right,rgba(92, 198, 227, 0.541),rgba(117, 240, 180, 0.637));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   min-height:30vh;
    margin-top:70px;
    margin-bottom: 30px;
}


.partnership-intro{

    text-align:left;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size:30px;
    font-weight:500;
    margin-top:120px;
    
    }
    
    
    .partnership-outro{
    
     
    text-align:left;
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    font-size:11px;
    margin-top:30px;
    line-height:23px;
    
    }




.number{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    min-height:50px;
    border: 1px solid #E6E6E6;
    outline: none;
    margin-top:50px;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    padding: 5px 5px 5px 15px;
    }

    .number:hover{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        min-height:50px;
        border: 1px solid yellowgreen;
        margin-top:50px;
        }


        .req{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:100%;
            min-height:50px;
            padding:10px 10px 10px 10px; 
            margin-top:25px;
            border:1.5px solid yellowgreen;
            background-color: transparent;
            font-family: 'Raleway', sans-serif;
            outline: none !important;
            font-size:13px;
        }
            



  .terms{

    font-family: 'Raleway', sans-serif;
    font-size: 10.5px;
    margin-top: 30px;
    text-align:left;
    line-height:20px;
    margin-bottom:130px;

  }


  .earn{
    font-family: 'Raleway', sans-serif;
    font-size:35px;
    text-align:left;
    margin-top:100px;

}



.collective{

    text-align:left;
    font-size:19.5px;
    font-family: 'Raleway', sans-serif;
    color:black;
    font-weight:100;
    margin-top:25px;
    
    }


.mgg-mobile{

margin-bottom:50px;

}



.ecology{

    font-family: 'Raleway', sans-serif;
    font-size:50px;
    margin-top:130px;

}
    
}


/*@media query for landscape game mode */

@media only screen and (min-width: 568px) and (max-width: 812px) and (orientation:landscape) {


    .eco-text{

        margin-top:25px;
        font-family: 'Raleway', sans-serif;
        font-size:11px;
        color: #212529;
        line-height:21px;
        
        }

        .svg{
width: 30px;

        }


    .card-fancy{

        background-color:white;
        box-shadow: 1.5px 1.5px rgba(74, 72, 187, 0.096);
        border-radius:8px;
        padding: 8px 8px 8px 8px;
        margin-top:55px;
        min-height:10vh;
        width: 100%;
        
        }


    .logo{

        width:90px;
        margin-top:14px;
        padding-left:30px;
        
          }


.btn-get-started{

    width: 100%;
    padding:15px 15px 15px 15px;
    background-color:yellow;
    border:transparent;
    font-family: 'Raleway', sans-serif;
    outline: none !important;
    font-weight:500;
    margin-top: 50px;
    
    
    }



          .quick{
            font-family: 'Raleway', sans-serif !important;
            margin-top:23px;
            padding-right:30px;
            color:rgba(0, 0, 0, 0.788);
            font-size:10px;
            font-weight: bolder;
        
        }



.quick:hover{
    font-family: 'Raleway', sans-serif !important;
    margin-top:23px;
    padding-right:30px;
    color:yellowgreen;
    font-size:10px;
    font-weight: bolder;
    text-decoration: none;

}



.menu-top {

    list-style: none;
    text-align:right;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    margin-top: 25px;
    font-size: 12px;
    
    }



    .intro{

        font-family: 'Raleway', sans-serif;
        font-size:40px;
        margin-top:100px;
        padding-left:30px;
        padding-right: 30px;
        text-align:left;
        color:rgba(0, 0, 0, 0.788);
        font-weight:bolder;
    
    }
    
    
    .intro-p{
    
        font-family: 'Raleway', sans-serif;
        text-align:left;
        font-size: 16px;
        padding-left:30px;
        padding-right: 30px;
        margin-top:20px;
        line-height:30px;
        color:grey;
        margin-bottom: 100px;
      
    }


    .solution{

        font-family: 'Raleway', sans-serif;
        color: black;
        font-weight:500;
        margin-top: 80px;
    
    }
    
    .solution-text{
    
        font-family: 'Raleway', sans-serif;
        font-size:11.5px;
        font-weight: bolder;
        margin-top: 30px;
        line-height:25px;
        padding-right:50px;
    
    
    }


.mrg-video{

    margin-top:70px;
    margin-bottom:50px;
    
    }
        


.layer {
    background-image: linear-gradient(to right,rgba(92, 198, 227, 0.541),rgba(117, 240, 180, 0.637));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   min-height:30vh;
    margin-top:70px;
    margin-bottom: 30px;
}


.partnership-intro{

    text-align:left;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size:30px;
    font-weight:500;
    margin-top:120px;
    
    }
    
    
    .partnership-outro{
    
     
    text-align:left;
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    font-size:11px;
    margin-top:30px;
    line-height:23px;
    
    }




.number{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    min-height:50px;
    border: 1px solid #E6E6E6;
    outline: none;
    margin-top:50px;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    padding: 5px 5px 5px 15px;
    }

    .number:hover{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        min-height:50px;
        border: 1px solid yellowgreen;
        margin-top:50px;
        }


        .req{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:100%;
            min-height:50px;
            padding:10px 10px 10px 10px; 
            margin-top:25px;
            border:1.5px solid yellowgreen;
            background-color: transparent;
            font-family: 'Raleway', sans-serif;
            outline: none !important;
            font-size:13px;
        }
            



  .terms{

    font-family: 'Raleway', sans-serif;
    font-size: 10.5px;
    margin-top: 30px;
    text-align:left;
    line-height:20px;
    margin-bottom:130px;

  }


  .earn{
    font-family: 'Raleway', sans-serif;
    font-size:35px;
    text-align:left;
    margin-top:100px;

}



.collective{

    text-align:left;
    font-size:19.5px;
    font-family: 'Raleway', sans-serif;
    color:black;
    font-weight:100;
    margin-top:25px;
    
    }


.mgg-mobile{

margin-bottom:50px;

}



.ecology{

    font-family: 'Raleway', sans-serif;
    font-size:50px;
    margin-top:130px;

}


}



/*media query for pixel 2xl landscape mode */
@media only screen and (-webkit-min-device-pixel-ratio:3.5)  {


    .eco-text{

        margin-top:25px;
        font-family: 'Raleway', sans-serif;
        font-size:11px;
        color: #212529;
        line-height:21px;
        
        }

        .svg{
width: 30px;

        }


    .card-fancy{

        background-color:white;
        box-shadow: 1.5px 1.5px rgba(74, 72, 187, 0.096);
        border-radius:8px;
        padding: 8px 8px 8px 8px;
        margin-top:55px;
        min-height:10vh;
        width: 100%;
        
        }


    .logo{

        width:90px;
        margin-top:14px;
        padding-left:30px;
        
          }


.btn-get-started{

    width: 100%;
    padding:15px 15px 15px 15px;
    background-color:yellow;
    border:transparent;
    font-family: 'Raleway', sans-serif;
    outline: none !important;
    font-weight:500;
    margin-top: 50px;
    
    
    }



          .quick{
            font-family: 'Raleway', sans-serif !important;
            margin-top:23px;
            padding-right:30px;
            color:rgba(0, 0, 0, 0.788);
            font-size:10px;
            font-weight: bolder;
        
        }



.quick:hover{
    font-family: 'Raleway', sans-serif !important;
    margin-top:23px;
    padding-right:30px;
    color:yellowgreen;
    font-size:10px;
    font-weight: bolder;
    text-decoration: none;

}



.menu-top {

    list-style: none;
    text-align:right;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    margin-top: 25px;
    font-size: 12px;
    
    }



    .intro{

        font-family: 'Raleway', sans-serif;
        font-size:40px;
        margin-top:100px;
        padding-left:30px;
        padding-right: 30px;
        text-align:left;
        color:rgba(0, 0, 0, 0.788);
        font-weight:bolder;
    
    }
    
    
    .intro-p{
    
        font-family: 'Raleway', sans-serif;
        text-align:left;
        font-size: 16px;
        padding-left:30px;
        padding-right: 30px;
        margin-top:20px;
        line-height:30px;
        color:grey;
        margin-bottom: 100px;
      
    }


    .solution{

        font-family: 'Raleway', sans-serif;
        color: black;
        font-weight:500;
        margin-top: 80px;
    
    }
    
    .solution-text{
    
        font-family: 'Raleway', sans-serif;
        font-size:11.5px;
        font-weight: bolder;
        margin-top: 30px;
        line-height:25px;
        padding-right:50px;
    
    
    }


.mrg-video{

    margin-top:70px;
    margin-bottom:50px;
    
    }
        


.layer {
    background-image: linear-gradient(to right,rgba(92, 198, 227, 0.541),rgba(117, 240, 180, 0.637));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   min-height:30vh;
    margin-top:70px;
    margin-bottom: 30px;
}


.partnership-intro{

    text-align:left;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size:30px;
    font-weight:500;
    margin-top:120px;
    
    }
    
    
    .partnership-outro{
    
     
    text-align:left;
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    font-size:11px;
    margin-top:30px;
    line-height:23px;
    
    }




.number{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    min-height:50px;
    border: 1px solid #E6E6E6;
    outline: none;
    margin-top:50px;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    padding: 5px 5px 5px 15px;
    }

    .number:hover{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        min-height:50px;
        border: 1px solid yellowgreen;
        margin-top:50px;
        }


        .req{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:100%;
            min-height:50px;
            padding:10px 10px 10px 10px; 
            margin-top:25px;
            border:1.5px solid yellowgreen;
            background-color: transparent;
            font-family: 'Raleway', sans-serif;
            outline: none !important;
            font-size:13px;
        }
            



  .terms{

    font-family: 'Raleway', sans-serif;
    font-size: 10.5px;
    margin-top: 30px;
    text-align:left;
    line-height:20px;
    margin-bottom:130px;

  }


  .earn{
    font-family: 'Raleway', sans-serif;
    font-size:35px;
    text-align:left;
    margin-top:100px;

}



.collective{

    text-align:left;
    font-size:19.5px;
    font-family: 'Raleway', sans-serif;
    color:black;
    font-weight:100;
    margin-top:25px;
    
    }


.mgg-mobile{

margin-bottom:50px;

}



.ecology{

    font-family: 'Raleway', sans-serif;
    font-size:50px;
    margin-top:130px;

}

}



/*media query for 6.0 screen */

@media screen 
and (max-width:720px)
and (max-height:1440px)
 and (max-resolution: 268dpi)
 and (-webkit-max-device-pixel-ratio:2)
 {


    .logo{

        width:90px;
        margin-top:14px;
        padding-left:30px;
        
          }



          .quick{
            font-family: 'Raleway', sans-serif !important;
            margin-top:23px;
            padding-right:30px;
            color:rgba(0, 0, 0, 0.788);
            font-size:10px;
            font-weight: bolder;
        
        }



.quick:hover{
    font-family: 'Raleway', sans-serif !important;
    margin-top:23px;
    padding-right:30px;
    color:yellowgreen;
    font-size:10px;
    font-weight: bolder;
    text-decoration: none;

}



.menu-top {

    list-style: none;
    text-align:right;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    margin-top: 25px;
    font-size: 12px;
    
    }



    .intro{

        font-family: 'Raleway', sans-serif;
        font-size:40px;
        margin-top:100px;
        padding-left:30px;
        padding-right: 30px;
        text-align:left;
        color:rgba(0, 0, 0, 0.788);
        font-weight:bolder;
    
    }
    
    
    .intro-p{
    
        font-family: 'Raleway', sans-serif;
        text-align:left;
        font-size: 16px;
        padding-left:30px;
        padding-right: 30px;
        margin-top:20px;
        line-height:30px;
        color:grey;
        margin-bottom: 100px;
      
    }


    .solution{

        font-family: 'Raleway', sans-serif;
        color: black;
        font-weight:500;
        margin-top: 80px;
    
    }
    
    .solution-text{
    
        font-family: 'Raleway', sans-serif;
        font-size:11.5px;
        font-weight: bolder;
        margin-top: 30px;
        line-height:25px;
        padding-right:50px;
    
    
    }


.mrg-video{

    margin-top:70px;
    margin-bottom:50px;
    
    }
        


.layer {
    background-image: linear-gradient(to right,rgba(92, 198, 227, 0.541),rgba(117, 240, 180, 0.637));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   min-height:30vh;
    margin-top:70px;
    margin-bottom: 30px;
}


.partnership-intro{

    text-align:left;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size:30px;
    font-weight:500;
    margin-top:120px;
    
    }
    
    
    .partnership-outro{
    
     
    text-align:left;
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    font-size:11px;
    margin-top:30px;
    line-height:23px;
    
    }




.number{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    min-height:50px;
    border: 1px solid #E6E6E6;
    outline: none;
    margin-top:50px;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    padding: 5px 5px 5px 15px;
    }

    .number:hover{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        min-height:50px;
        border: 1px solid yellowgreen;
        margin-top:50px;
        }


        .req{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:100%;
            min-height:50px;
            padding:10px 10px 10px 10px; 
            margin-top:25px;
            border:1.5px solid yellowgreen;
            background-color: transparent;
            font-family: 'Raleway', sans-serif;
            outline: none !important;
            font-size:13px;
        }
            



  .terms{

    font-family: 'Raleway', sans-serif;
    font-size: 10.5px;
    margin-top: 30px;
    text-align:left;
    line-height:20px;
    margin-bottom:130px;

  }


  .earn{
    font-family: 'Raleway', sans-serif;
    font-size:35px;
    text-align:left;
    margin-top:100px;

}



.collective{

    text-align:left;
    font-size:19.5px;
    font-family: 'Raleway', sans-serif;
    color:black;
    font-weight:100;
    margin-top:25px;
    
    }


.mgg-mobile{

margin-bottom:50px;

}



.ecology{

    font-family: 'Raleway', sans-serif;
    font-size:50px;
    margin-top:130px;

}

 }



  /* iPad pro(portrait) ----------- */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:landscape) {

    .bac{

        background-image: url("images/yellow.png");
        min-height:50vh !important;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-attachment: fixed;
        
        }


        .layer{

display: none;

        }


        .bac-white-smoke{

            background-color:#F9F9FF;
            min-height: 90vh;
            width: 100%;
            }


}




  /* iPad pro(portrait) ----------- */
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:portrait) {


    .bac{

        background-image: url("images/yellow.png");
        min-height:40vh !important;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-attachment: fixed;
        
        }


        .layer{

display: none;

        }


        .bac-white-smoke{

            background-color:#F9F9FF;
            min-height: 70vh;
            width: 100%;
            }


  }



/*ipad landscape*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {


    .bac{

        background-image: url("images/yellow.png");
        min-height:70vh !important;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-attachment: fixed;
        
        }


        .layer{

display: none;

        }


        .bac-white-smoke{

            background-color:#F9F9FF;
            min-height: 100vh;
            width: 100%;
            }


}




/*ipad potrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {


    .bac{

        background-image: url("images/yellow.png");
        min-height:50vh !important;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-attachment: fixed;
        
        }


        .layer{

display: none;

        }


        .bac-white-smoke{

            background-color:#F9F9FF;
            min-height: 100vh;
            width: 100%;
            }


}